.layout {
  display: flex;
  height: 100vh;
}

@media (max-width: 768px) {
  .layout {
    overflow: hidden;
  }
}

.theme-toggle-button {
  background: var(--button-bg);
  color: var(--text-color);
}

.theme-toggle-button:hover {
  background: var(--button-hover-bg);
}